<!-- views/movie-details.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{movie.title}}</title>
</head>

<body>

  <h1>{{movie.title}}</h1>

  <img src="{{movie.image}}" alt="{{movie.title}}">

  <p>Director: {{movie.director}}</p>
  <p>Stars: {{movie.stars.join(', ')}}</p>
  <p>Description: {{movie.description}}</p>

  <h2>Showtimes:</h2>

  <ul>
    {{#each movie.showtimes}}

      <li>{{this}}</li>

    {{/each}}
  </ul>

  <a href="/movies">Back to Movies</a>
  
</body>
</html>
